{{- with .Site.Params.theme -}}
<style>
  :root {
    {{- with .accentHue }}--brand-hue: {{ . }};{{ end }}
    {{- with .accentPrimary }}--accent-primary: {{ . }};{{ end }}
    {{- with .accentSecondary }}--accent-secondary: {{ . }};{{ end }}
    {{- with .accentTertiary }}--accent-tertiary: {{ . }};{{ end }}
    {{- with .colorBgPrimary }}--color-bg-primary: {{ . }};{{ end }}
    {{- with .colorBgSecondary }}--color-bg-secondary: {{ . }};{{ end }}
    {{- with .colorBgSurface }}--color-bg-surface: {{ . }};{{ end }}
    {{- with .colorTextPrimary }}--color-text-primary: {{ . }};{{ end }}
    {{- with .colorTextSecondary }}--color-text-secondary: {{ . }};{{ end }}
    {{- with .colorBorder }}--color-border: {{ . }};{{ end }}
    {{- with .shadowGlow }}--shadow-glow: {{ . }};{{ end }}
    {{- with .headerBg }}--header-bg: {{ . }};{{ end }}
    {{- with .bodyGradientAccent }}--body-gradient-accent: {{ . }};{{ end }}
    {{- with .heroGradientAccent }}--hero-gradient-accent: {{ . }};{{ end }}
  }
</style>
{{- end -}}
